@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

html {
    height: 100%;
    width: 100%;
    background-image: url('./images/site/checkerboard.jpg');
  }
  
  body{
    font-family: 'Titillium Web', sans-serif;
    background-color: white;
    border: 3px solid #4c96d7;
    padding: 0em 1em;
  }

  main{
    display: grid;
    grid-template-areas: "welcome welcome" 
                        "hero hero"
                        "upgrades reviews";

    grid-gap: 2em;
  }

  .welcome{
    grid-area: welcome;
  }
  .hero{
    grid-area: hero;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .upgrades{
    grid-area: upgrades;
  }
  .reviews{
    grid-area: reviews;
  }

  header p{
    float: right;
  }
  
  nav ul li{
    padding: .5em;
  }

  nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: #3a3a3a;
    color: white;
  }

  nav a {
    text-decoration: none;
    color: white;
  }

  .active{
    background-color: #4c96d7;
    color: black;
  }

  footer{
    border-top: 3px solid #3a3a3a;
    text-align: center;
    margin: 0px;
    padding: 0px;
  }

  .hero{
    position: relative;
  }

  .hero-text{
    position: absolute;
    top: 0px;
    left: 16px;
    color: #4c96d7;
  }

  .hero button{
    background-color: #4c96d7;
    padding: 1em;
  }

  .hero-button {
    display: none;
  }

  .upgrades{
    display: grid;
    grid-template-areas: "title title" 
                        "capacitor decals"
                        "capacitor-label decals-label"
                        "stickers hub-caps"
                        "stickers-label hub-caps-label";

    grid-gap: 1em;
  }

  .upgrades div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
  }

  .upgrades-title{
    grid-area: title;
  }

  .capacitor{
    grid-area: capacitor;
    background-color: #4c96d7;
  }

  .capacitor img{
    width: 50%;
  }

  .capacitor-label{
    grid-area: capacitor-label;
  }

  .decals{
    grid-area: decals;
    background-color: #4c96d7;
  }

  .decals-label{
    grid-area: decals-label;
  }

  .decals img{
    width: 50%;
  }

  .stickers{
    grid-area: stickers;
    background-color: #4c96d7;
  }

  .stickers-label{
    grid-area: stickers-label;
  }

  .stickers img{
    width: 50%;
  }

  .hub-cap{
    grid-area: hub-caps;
    background-color: #4c96d7;
  }

  .hub-caps-labels{
    grid-area: hub-caps-label;
  }

  .hub-cap img{
    width: 50%;
    background-color: #4c96d7;
  }

  @media screen and (max-width: 1000px) {
    body{
      width: 100%;
    }
    main{
      grid-template-areas: "welcome" 
                          "hero"
                          "hero-button"
                          "reviews"
                          "upgrades";
  
      grid-gap: 2em;
    }

    main img{
      width: 100%;
    }

    .hero-text{
      top: 0px;
      left: 0px;
    }

    .hero-text button{
      display: none;
    }

    .hero-button{
      display: grid;
      grid-area: hero-button;
    }
  }