@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

html {
    height: 100%;
    width: 100%;
    background-image: url('./images/site/checkerboard.jpg');
  }
  
  body{
    font-family: 'Titillium Web', sans-serif;
    background-color: white;
    border: 3px solid #4c96d7;
    padding: 0em 1em;
  }

  header p{
    float: right;
  }