@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

html {
    height: 100%;
    width: 100%;
    background-image: url('./images/site/checkerboard.jpg');
  }
  
  body{
    font-family: 'Titillium Web', sans-serif;
    background-color: white;
    border: 3px solid #4c96d7;
    padding: 0em 1em;
  }

  header p{
    float: right;
  }
  
  nav ul li{
    padding: .5em;
  }

  nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: #3a3a3a;
    color: white;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .active{
    background-color: #4c96d7;
    color: black;
  }

  footer{
    border-top: 3px solid #3a3a3a;
    text-align: center;
    margin: 0px;
    padding: 0px;
  }